{% load static%}

<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'assets/css/water.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/notyf.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <script src="{% static 'assets/js/notyf.min.js' %}"></script>
    <title>کوتاه کننده لینک</title>
  </head>
  {% block content %}

  {% endblock content %}
</html>
